[?1049h[22;0;0t[>4;2m[?1h=[?2004h[?1004h[1;17r[?12h[?12l[22;2t[22;1t[?25l[17;1H"conda" [New]
Entering Ex mode.  Type "visual" to go to Normal mode.[?25h
:[34m^X[m
:[34m^[[m
:
:
:
:
:
:
:
:
:[34m^[^[^[[m
:
:
:wqqq[27m[23m[29m[m[H[2J[27m[23m[29m[m[H[2J